<h2 mat-dialog-title>Zapisz pojazd</h2>
<mat-dialog-content>
    <div class="row">
        <div class="col-4">{{ dialogData.line }}</div>
        <div class="col-8">{{ dialogData.direction }}</div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="sideNo-form-field">
                <input matInput type="text" placeholder="Numer boczny" [(ngModel)]="tramNo">
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close tabindex="2">Anuluj</button>
    <button mat-button (click)="save()" tabindex="1" color="primary">Zapisz</button>
</mat-dialog-actions>