.sidenav {
    min-width: 200px;
    max-width: 300px;
    width: 60%;
}

.sidenav-container {
    min-height: 100%;
}

.sidenav-toggle-btn {
    margin-right: 16px;
}

.app-toolbar {
    overflow: hidden;
    position: fixed;
    z-index: 1;
}

.router-container {
    margin-top: 56px;
}